{% extends "base.html" %}
{% load humanize %}

{% block content %}
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Created at</th>
      <th scope="col">Client name</th>
      <th scope="col">Origin trans</th>
      <th scope="col">Destination trans</th>
      <th scope="col">Status</th>
      <th scope="col">Provider</th>
      <th scope="col">Type</th>
    </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ account.id }}</td>
        <td>{{ account.name }}</td>
        <td>{{ account.created_at }}</td>
        <td>{{ account.client.name }}</td>
        <td>
          <ul>
            {% for transaction in account.last_3_origin_transactions %}
              <li>${{ transaction.amount|intcomma }} - {{ transaction.status.name }} </li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for transaction in account.last_3_destination_transactions %}
              <li>${{ transaction.amount|intcomma }} - {{ transaction.status.name }} </li>
            {% endfor %}
          </ul>
        </td>
        <td>{{ account.status.name }}</td>
        <td>{{ account.provider.name }}</td>
        <td>{{ account.type.name }}</td>
      </tr>

    {% endfor %}

    </tbody>
  </table>
{% endblock %}
